# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-publishable-or-anon-key


SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET="<client-secret>"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="<Your Cloud Name>"

NEXT_PUBLIC_CLOUDINARY_API_KEY="<Your API Key>"
CLOUDINARY_API_SECRET="<Your API Secret>"

NEXT_PUBLIC_USER_STORAGE_LIMIT_MB=500

VERCEL_URL="https://nitean-8uum.vercel.app"